# fly.toml app configuration file generated for mal-analytics-550 on 2025-12-10T00:32:17-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mal-analytics-550'
primary_region = 'iad'

[build]
  # Use the Dockerfile in the root directory
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
